<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="connection.url">jdbc:mysql://localhost:3306/StudentManage</property>
		<property name="connection.username">root</property>
		<property name="connection.password">beyond</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>

		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="current_session_context_class">thread</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="format_sql">true</property>
		<property name="show_sql">true</property>

		<!-- 配置映射文件 -->
		<mapping resource="org/student/score/manage/model/StudentInfo.hbm.xml" />
		<mapping resource="org/student/score/manage/model/MajorInfo.hbm.xml" />
		<mapping resource="org/student/score/manage/model/ScoreInfo.hbm.xml" />
		<mapping resource="org/student/score/manage/model/CourseInfo.hbm.xml" />
		<mapping resource="org/student/score/manage/model/LoginInfo.hbm.xml" />
		<mapping resource="org/student/score/manage/model/NewsInfo.hbm.xml" />
		<mapping resource="org/student/score/manage/model/BBSMessageInfo.hbm.xml" />
		<mapping resource="org/student/score/manage/model/NoticeInfo.hbm.xml" />
		<mapping resource="org/student/score/manage/model/ForeignInfo.hbm.xml" />
	</session-factory>
</hibernate-configuration>